<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestão de Usuários</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Início</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/myuser">Meu Perfil</a>
        </li>
        <li *ngIf="hasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link" routerLink="/users">Usuários</a>
        </li>
        <li *ngIf="hasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link" routerLink="/profiles">Perfis</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button
          *ngIf="!isLoggedIn"
          class="btn btn-outline-primary border-0"
          type="button"
          (click)="onLogin()"
        >
          <i class="bi bi-box-arrow-in-right"></i> Entrar
        </button>
        <button
          *ngIf="isLoggedIn"
          class="btn btn-outline-secondary border-0"
          type="button"
          (click)="onLogout()"
        >
          <i class="bi bi-box-arrow-right"></i> Sair
        </button>
      </form>
    </div>
  </div>
</nav>
