<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="changePasswordForm" novalidate (ngSubmit)="save()" [formGroup]="changePasswordForm">
      <h2 id="change-password-heading" class="mb-4">
        Alteração de Senha
      </h2>

      <div class="mb-3 align-items-center position-relative">
        <label for="field_newPassword" class="form-label">Nova Senha</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="field_newPassword"
          class="form-control"
          name="newPassword"
          formControlName="newPassword"
        />
        <i
          [class.bi-eye]="!showPassword"
          [class.bi-eye-slash]="showPassword"
          (click)="togglePasswordVisibility()"
          class="bi position-absolute"
          style="right: 10px; top: 70%; transform: translateY(-50%); cursor: pointer; font-size: 1.25rem;"
        ></i>
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']" class="text-danger">
            O campo é obrigatório.
          </small>
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']" class="text-danger">
            A nova senha deve ter no mínimo 6 caracteres.
          </small>
        </div>
      </div>

      <div class="mb-3 align-items-center position-relative">
        <label for="field_confirmPassword" class="form-label">Confirmar Nova Senha</label>
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          id="field_confirmPassword"
          class="form-control"
          name="confirmPassword"
          formControlName="confirmPassword"
        />
        <i
          [class.bi-eye]="!showNewPassword"
          [class.bi-eye-slash]="showNewPassword"
          (click)="toggleNewPasswordVisibility()"
          class="bi position-absolute"
          style="right: 10px; top: 70%; transform: translateY(-50%); cursor: pointer; font-size: 1.25rem;"
        ></i>
        <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)">
          <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']" class="text-danger">
            O campo é obrigatório.
          </small>
          <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['minlength']" class="text-danger">
            A confirmação da senha deve ter no mínimo 6 caracteres.
          </small>
        </div>
        <div *ngIf="!isPasswordMatch() && (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)">
          <small class="text-danger">
            As senhas não coincidem.
          </small>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="previousState()">
          <i class="fa fa-ban"></i> Cancelar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="changePasswordForm.invalid || isSaving"
        >
          <i class="fa fa-save"></i> Alterar Senha
        </button>
      </div>
    </form>
  </div>
</div>
