<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1>Desafio de Processo Seletivo</h1>
      <p>
        Bem-vindo ao sistema de gerenciamento de usuários e perfis! Este projeto faz parte de um desafio de processo seletivo e tem como objetivo atender os seguintes requisitos:
      </p>
      <ul>
        <li>Criar um sistema que gerencie usuários e perfis.</li>
        <li>Usuário possui um perfil; um perfil pode ter vários usuários.</li>
        <li>O sistema deverá ter um administrador que crie os usuários e atribua ou modifique os perfis.</li>
        <li>O perfil "usuário comum" apenas visualizará suas próprias informações, podendo editá-las, exceto o perfil.</li>
        <li>Frontend desenvolvido em Angular 4+.</li>
        <li>Backend utilizando Java 8+ com Spring Boot e banco de dados de sua escolha.</li>
      </ul>
      <p>
        Este projeto demonstra habilidades em desenvolvimento full-stack, incluindo a implementação de segurança, gestão de dados e interface de usuário amigável.
      </p>
    </div>
  </div>
</div>
